<section class="items">
    {{#each tasks}}
        <div class="task" id={{this._id}}>
            <div class="task__description">
                <h5 class="task__decription__title">{{this.name}}</h5>
                <p class="task__decription__time">{{this.remainingDays}} days left! - {{this.lectureName}}</p>
            </div>
            <div class="task__xp">{{this.xp}}</div>
        </div>
    {{/each}}
</section>